{
    "backboard": {
        "position": { "x": 0, "y": 0, "z": 0 },
        "rotation": { "x": 180, "y": 0, "z": 270 },
        "scale": { "x": 5, "y": 5, "z": 5 }
    },
    "logicboard": {
        "position": { "x": 0, "y": 0, "z": 0 },
        "rotation": { "x": 0, "y": 0, "z": 90 },
        "scale": { "x": 0.5, "y": 0.5, "z": 0.5 }
    },
    "mainboard": {
        "position": { "x": 0, "y": 0, "z": 0 },
        "rotation": { "x": 0, "y": 0, "z": 90 },
        "scale": { "x": 0.8, "y": 0.8, "z": 0.8 }
    },
    "powerboard": {
        "position": { "x": 0, "y": 0, "z": 0 },
        "rotation": { "x": 0, "y": 0, "z": 90 },
        "scale": { "x": 0.8, "y": 0.8, "z": 0.8 }
    },
    "wifiboard": {
        "position": { "x": 0, "y": 0, "z": -100 },
        "rotation": { "x": 0, "y": 0, "z": 0 },
        "scale": { "x": 0.2, "y": 0.2, "z": 0.2 }
    }
}